{% if section.settings.show %}
  <div class="celyfos-announcement bg-[#1a1a1a] text-white p-2 text-sm tracking-widest text-center">
    {{ section.settings.text }}
  </div>
{% endif %}

{% stylesheet %}
div#shopify-section-sections--26986324689282__announcement {
  position: sticky;
  display: block;
  top: 0;
  z-index: 10;
}
{% endstylesheet %}

{% schema %}
{
  "name": "Celyfos Announcement",
  "settings": [
    {
    "type": "checkbox",
    "id": "show",
    "default": true,
    "label": "Show"
    },
    {
      "type": "text",
      "id": "text",
      "default": "Celyfos Atelier:  Handcrafted Excellence Since 1994",
      "label": "Announcement Text"
    }
  ],
  "presets": [{ "name": "Celyfos Announcement" }]
}
{% endschema %}