@import 'tailwindcss';

.topHeader {
  @apply text-3xl !my-3 font-bold uppercase text-center;
}

.roundBtn {
  @apply rounded-full p-3 font-bold cursor-pointer;
}

.hoverGray {
  @apply underline hover:text-gray-500 duration-300;
}
